### Load data

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv('Books data.csv')
df.head()

,Book Title,Author,Category,Price (TK),Stock Status,Copies Left,Book Length (Pages),Edition,Publication,Wished Users,Discount Offer,Ratings,Reviews
0,Sapiens A Brief History Of Humankind,Yuval Noah Harari,History and Tradition,"1,258",In Stock,4,498,1st Published,Vintage Books (India),386,Yes,39.0,16.0
1,The Intelligent Investor,Benjamin Graham,"Business, Investment and Economics","1,598",In Stock,6,640,8th Impression,Harpercollins Publishers (India),531,Yes,30.0,25.0
2,Madinah Arabic Reader 1,Dr. V. Abdur Rahim,Islamic Books,528,In Stock,21,80,1st Edition 2011,Goodword Books (India),NaN,Yes,6.0,3.0
3,The Quran,M.A.S. Abdel Haleem (Translator),Islamic Books,950,In Stock,38,512,Reissue Edition,"Oxford University Press, USA",NaN,Yes,19.0,5.0
4,"Let Us C, 19th Edition",Yashavant Kanetkar,Computer Science & Engineering,718,In Stock,18,492,19th Edition,BPB Publications (India),NaN,Yes,3.0,1.0

In [16]:
df.shape

(40, 13)

In [28]:
df.describe()

       Book Length (Pages)   Ratings     Reviews
count            40.000000  38.000000  38.000000
mean            352.175000  20.236842   8.921053
std             248.501239  20.984466  11.558036
min              80.000000   0.000000   0.000000
25%             206.500000   3.250000   0.250000
50%             316.000000  12.000000   4.000000
75%             406.250000  29.750000  15.250000
max            1276.000000  85.000000  54.000000

In [18]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Book Title           40 non-null     object
 1   Author               40 non-null     object
 2   Category             40 non-null     object
 3   Price (TK)           40 non-null     object
 4   Stock Status         40 non-null     object
 5   Copies Left          40 non-null     object
 6   Book Length (Pages)  40 non-null     int64
 7   Edition              40 non-null     object
 8   Publication          39 non-null     object
 9   Wished Users         19 non-null     object
 10  Discount Offer       40 non-null     object
 11  Ratings              38 non-null     float64
 12  Reviews              38 non-null     float64
dtypes: float64(2), int64(1), object(10)
memory usage: 4.2+ KB

In [22]:
df.isnull().sum()

Book Title              0
Author                  0
Category                0
Price (TK)              0
Stock Status            0
Copies Left             0
Book Length (Pages)     0
Edition                 0
Publication             1
Wished Users           21
Discount Offer          0
Ratings                 2
Reviews                 2
dtype: int64