### Load  the data

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('business.retailsales.csv')
df.head()

,Product Type,Net Quantity,Gross Sales,Discounts,Returns,Total Net Sales
0,Art & Sculpture,34,14935.0,-594.00,-1609.0,12732.00
1,Basket,13,3744.0,-316.80,0.0,3427.20
2,Basket,12,3825.0,-201.60,-288.0,3335.40
3,Basket,17,3035.0,-63.25,0.0,2971.75
4,Art & Sculpture,47,2696.8,-44.16,0.0,2652.64

In [6]:
df.shape

(1775, 6)

In [7]:
df.describe()

       Net Quantity   Gross Sales    Discounts      Returns  Total Net Sales
count   1775.000000   1775.000000  1775.000000  1775.000000      1775.000000
mean       3.712676    199.671746    -6.317623    -5.385437       187.968687
std        6.243078    464.880638    20.903517    46.654269       414.547039
min       -1.000000      0.000000  -594.000000 -1609.000000      -106.250000
25%        1.000000     48.000000    -6.000000     0.000000        44.800000
50%        2.000000    100.000000     0.000000     0.000000        96.000000
75%        4.000000    185.500000     0.000000     0.000000       184.750000
max       96.000000  14935.000000     0.000000     0.000000     12732.000000

In [8]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1775 entries, 0 to 1774
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Product Type     1767 non-null   object
 1   Net Quantity     1775 non-null   int64
 2   Gross Sales      1775 non-null   float64
 3   Discounts        1775 non-null   float64
 4   Returns          1775 non-null   float64
 5   Total Net Sales  1775 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 83.3+ KB

In [9]:
df.isnull().sum()

Product Type       8
Net Quantity       0
Gross Sales        0
Discounts          0
Returns            0
Total Net Sales    0
dtype: int64

In [10]:
df.duplicated().sum()

512

### Data cleaning

In [25]:
# 1. Remove exact duplicate rows
df = df.drop_duplicates()

# 2. Aggregate by Product Type (if that makes sense for your analysis)
agg_cols = ['Net Quantity', 'Gross Sales', 'Discounts', 'Returns', 'Total Net Sales']

df_agg = (
    df.groupby('Product Type', as_index=False)[agg_cols]
      .sum()
)

df_agg.to_csv('retailsales_deduped_aggregated.csv', index=False)
print(df_agg.head())

      Product Type  Net Quantity  Gross Sales  Discounts  Returns  \
0                0             7        485.5       0.00     0.00
1      Accessories            71       2946.4     -95.62     0.00
2  Art & Sculpture          1315      84924.6   -2938.72 -2879.93
3           Basket          1152     110256.5   -3740.52 -4439.69
4        Christmas           565      15296.0    -345.19  -670.00

   Total Net Sales
0           485.50
1          2850.78
2         79105.95
3        102076.29
4         14280.81

In [27]:
df.duplicated().sum()

0