### Name: Solongo Manlaibaatar
### Student number : 2025076
### Integrated CA2

### Load  the data

In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [56]:
df = pd.read_csv("ECommerce.csv")
df.head()

,product_name,website,country,category,subcategory,title-href,price,brand,ingredients,form,type,color,size,rating,noofratings
0,"Carlton London Incense Eau da parfum, Premium ...",Flipkart,India,body,perfume,https://www.amazon.in/Carlton-London-Limited-I...,599.0,Carlton London,NaN,aerosol,NaN,"Top Note: Orange Blossom, Blackberry | Heart N...",100,3.9,19
1,CHARLENE SPRAY MIST PERFUME 30 - INTIMATE (PAC...,Flipkart,India,body,perfume,https://www.amazon.in/CHARLENE-SPRAY-MIST-PERF...,149.0,Charlene,NaN,aerosol,NaN,Unit count type:,30,4.4,"4,031"
2,CHARLENE SPRAY MIST PERFUME 30 - INTIMATE (PAC...,Flipkart,India,body,perfume,https://www.amazon.in/CHARLENE-SPRAY-MIST-PERF...,298.0,Charlene,NaN,aerosol,NaN,Unit count type:,30,4.4,"4,072"
3,DENVER Black Code Perfume - 60 | Eau de Parfum...,Flipkart,India,body,perfume,https://www.amazon.in/DENVER-Black-Code-Perfum...,245.0,Denver,NaN,aerosol,NaN,Long-Lasting Scent,60,4.2,61
4,Denver Hamilton Perfume - 100 | Long Lasting P...,Flipkart,India,body,perfume,https://www.amazon.in/Denver-Perfume-Hamilton-...,422.0,Denver,NaN,aerosol,NaN,Long-Lasting Scent,100,4.3,342

In [58]:
df.shape

(12615, 15)

In [60]:
df.describe()

              price
count  12298.000000
mean    2281.180935
std     3158.690307
min        1.700000
25%      499.000000
50%     1307.200000
75%     2859.500000
max    94099.000000

In [62]:
df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12615 entries, 0 to 12614
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  12615 non-null  object
 1   website       12615 non-null  object
 2   country       12615 non-null  object
 3   category      12615 non-null  object
 4   subcategory   12615 non-null  object
 5   title-href    12615 non-null  object
 6   price         12298 non-null  float64
 7   brand         12615 non-null  object
 8   ingredients   6600 non-null   object
 9   form          12615 non-null  object
 10  type          9934 non-null   object
 11  color         10626 non-null  object
 12  size          9449 non-null   object
 13  rating        10548 non-null  object
 14  noofratings   12156 non-null  object
dtypes: float64(1), object(14)
memory usage: 1.4+ MB

In [64]:
df.isnull().sum()

product_name       0
website            0
country            0
category           0
subcategory        0
title-href         0
price            317
brand              0
ingredients     6015
form               0
type            2681
color           1989
size            3166
rating          2067
noofratings      459
dtype: int64

In [66]:
df.duplicated().sum()

60

### Data cleaning

In [69]:
df.replace('NAN', pd.NA, inplace=True)
df = df.dropna()

In [71]:
df.isnull().sum()

product_name    0
website         0
country         0
category        0
subcategory     0
title-href      0
price           0
brand           0
ingredients     0
form            0
type            0
color           0
size            0
rating          0
noofratings     0
dtype: int64

In [75]:
df = df.drop_duplicates()
df = df.reset_index(drop=True)

print("Duplicates after cleaning:", df.duplicated().sum())


df.to_csv("cleaned_dataset.csv", index=False)